[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pyautogui = "*"
selenium = "*"
chromedriver-py = "*"
difpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
